body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header, .information, .quote, .callout-container, .footer {
    padding: 0 175px;
}

.header {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    height: 500px;
    display: flex;
    flex-direction: column;
}

.upper-header {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-header {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.placeholder-img {
    display: flex;
    flex-shrink: 0;
    width: 450px;
    height: 200px;
    background-color: rgba(229, 231, 235, 0.5);
    justify-content: center;
    align-items: center;
}

.main-text {
    font-size: 48px;
    font-weight: 700;
    color: #F9FAF8;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: 700;
    font-size: 16px;
    padding: 8px 30px;
    margin: 8px 0;
    border-radius: 10px;
    border: 0;
}

.msg-header {
    width: 450px;
}

.information {
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 700;
    flex: 1;
    display: flex;
    align-items: center;
}

.info-container {
    display: flex;
    gap: 56px;
    flex: 3;
    align-items: flex-start;
}

.img-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 175px;
    font-size: 18px;
    color: rgba(31, 41, 55, 0.6); 
    font-weight: 600;
    text-align: center;
    gap: 10px;
}

.illustration {
    border: 5px solid #3882f6;
    border-radius: 20px;
    height: 175px;
    width: 175px;
}

.quote {
    
}